.member-category {
  background-color: var(--green);
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: left;
}

.group-member-record {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: var(--green) 1px solid;
  padding: 1rem;
  gap: 1rem;
}

.group-member-info {
  display: flex;
  justify-contect: center;
  align-items: center;
  gap: 3rem;
  padding-bottom: 1rem;
}

.contact {
  grid-area: contact;
  text-align: left;
  align-self: center;
  height: 100px;
}

.social {
  grid-area: social;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  gap: 0.5rem;
}

.social-link {
  font-size: 1.8rem;
  color: var(--dark-blue);
}

.social-link:hover {
  font-size: 1.9rem;
}

.website-link {
  color: var(--dark-blue);
  text-decoration: none;
}

.website-link:hover {
  font-size: 1.05rem;
}

.group-member-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.expand-area {
  font-size: 0.9rem;
  overflow: hidden;
  margin-top: 1rem;
}

.expand-button {
  text-align: center;
  padding: 0.3rem 0.5rem;
  z-index: 1;
  color: #fff;
  background-color: #777;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.expand-active {
  background-color: var(--dark-blue);
}

.expand-area {
  height: 100%;
  opacity: 1;
  padding: 1.5rem 0.5rem 1rem;
}

table .cv-table {
  width: 100%;
}

table.cv-table td {
  vertical-align: top;
  padding: 0;
  text-align: left;
  padding-bottom: 10px;
}

table.cv-table td > p {
  margin: 0;
  color: var(--dark-blue);
}

table.cv-table td.year {
  padding-right: 1rem;
  text-align: right;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .group-member-info {
    width: 100%;
    flex-direction: column;
  }

  .contact {
    text-align: center;
  }

  .social {
    justify-content: center;
  }

  .group-member-buttons {
    flex-direction: column;
    gap: 1rem;
  }
}
