/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  top: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar-link {
  color: #fff;
  margin: 10px;
  text-decoration: none;
  text-wrap: nowrap;
}

li.navbar-item:after {
  content: "";
  display: block;
  margin: auto;
  padding: 0;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

li.navbar-item:hover:after {
  width: 100%;
  background: var(--green);
}

.current {
  color: var(--green);
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.navbar .logo .icon {
  width: 50px;
  height: auto;
  padding-right: 1rem;
}

/* dropdown */
nav .dropdown {
  opacity: 0;
  position: absolute;
  max-width: 300px;
  width: 100%;
  background-color: #333;

  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  transform: translateX(-50%);
  transition: opacity 0.15s ease-out;
}

nav .dropdown-item {
  width: 100%;
  padding: 0.5rem;
}

nav .has-dropdown:hover .dropdown {
  opacity: 1;
  height: auto;
}

/* side menu */
.logo .menu-button {
  width: 0px;
  transition: width 0.4s ease;
}

.logo .toggler {
  display: none;
}

.logo .hamburger {
  display: none;
}

/* Hamburger line */
.logo .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger lines top & bottom */
.logo .hamburger > div:before,
.logo .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 10;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.logo .hamburger > div:after {
  top: 10px;
}

/*  Toggler animation */
.logo .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns hamburger lines into x */
.logo .toggler:checked + .hamburger > div:before,
.logo .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* rotate checked on hover */
.logo .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show menu */
.menu-button .toggler:checked ~ .side-menu {
  visibility: visible;
}

.menu-button .toggler:checked ~ .side-menu > div {
  height: calc(100vh - 70px);
  transition-duration: var(--menu-speed);
}

.side-menu {
  position: fixed;
  top: 70px;
  left: 0;
  width: var(--side-menu-width);
  min-height: calc(100% - 70px);
  visibility: hidden;
  overflow: hidden;
  font-weight: 400;
  z-index: 3;
  transition: all 0.4s ease;
}

.side-menu > div {
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  height: 0;
  transition: height 0.4s ease;
}

.side-menu > div > ul {
  display: block;
}

.side-menu > div > ul > li {
  padding: 1.5rem 0.5rem;
  float: none;
}

.side-menu > div > ul > li > .navbar-link {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.side-menu > div > ul > li > .navbar-link.current {
  color: var(--green);
}

/* dropdown in vertical menu */
.side-menu > div > ul > li > ul.dropdown {
  opacity: 0;
  position: relative;
  width: 175px;
  background-color: #333;
  height: 0;
  flex-direction: column;
  transform: translateY(20%);
  transition: opacity 0.15s ease-out;
}

.side-menu > div > ul > li > ul > li.dropdown-item {
  width: 100%;
  padding: 0.5rem;
}

.side-menu > div > ul > li.has-dropdown:hover {
  border: none;
}

.side-menu > div > ul > li.has-dropdown:hover .dropdown {
  opacity: 1;
  height: auto;
}

@media (min-width: 1047px) {
  .side-menu {
    display: none;
    transition: all 0.4s ease;
  }
}

@media (max-width: 1048px) {
  .navbar > nav {
    display: none;
  }

  .logo .menu-button {
    width: 50px;
    transition: width 0.4s ease;
  }

  .logo .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    z-index: 2;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: #333;
  }

  .logo .toggler {
    display: inline;
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    z-index: 3;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}

@media (max-height: 500px) {
  .side-menu > div {
    overflow: scroll;
    height: 120rem;
  }
}
