@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet');

:root {
  --green: #28a745;
  --middle-green: #27893a;
  --blue: #0284d0;
  --dark-blue: #1d6695;
  --dark-grey: #333;
  --light-blue-background: #e5f2fa;

  --header-height: 70px;
  --max-width: 1100px;
  --menu-speed: 0.75s;
  --side-menu-width: 175px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--light-blue-background);
  color: var(--dark-grey);
}

ul {
  list-style: none;
}

li {
  text-align: center;
}

p {
  margin: 10px 0;
}

.text-primary {
  color: var(--green);
}

.link {
  color: var(--dark-grey);
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: var(--header-height) auto 0;
  padding: 0 2rem;
  overflow: hidden;
  background-color: var(--light-blue-background);
  text-align: center;
}

.scroll-up-button {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: #fff;
  color: var(--green);
  cursor: pointer;
  padding: 7px 5px 5px;
  border-radius: 25%;
}

.scroll-up-button:hover {
  font-size: 1.8rem;
  margin-left: 10px;
  color: #fff;
  background-color: var(--green);
}

/* https://github.com/WebDevSimplified/animated-loading-spinner */

*,
*::after,
*::before {
  box-sizing: border-box;
}
.spinner {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  overflow: hidden;
  position: fixed;
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
  animation: text-color 2s ease-in-out infinite alternate;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid transparent;
  mix-blend-mode: overlay;
  animation: rotate var(--duration) var(--timing) infinite;
  pointer-events: none;
}

.spinner::before {
  border-left-color: var(--green);
  --duration: 2s;
  --timing: ease-in;
}

.spinner::after {
  border-right-color: lightgreen;
  --duration: 2.5s;
  --timing: ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-color {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 10%;
  }
}

.categories {
  display: flex;
  align-items: flex-start;
  justify-items: center;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
}

.gray-border {
  border-top: #222 1px solid;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(0.98);
}
