.member-category {
  background-color: var(--green);
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: left;
}

.group-member-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  padding: 2rem;
  border-top: var(--green) 1px solid;
}

.contact {
  grid-area: contact;
  text-align: left;
  align-self: center;
  min-width: 200px;
}

.social {
  grid-area: social;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  gap: 0.5rem;
}

.social-link {
  font-size: 1.8rem;
  color: var(--dark-blue);
}

.social-link:hover {
  font-size: 1.9rem;
}

.website-link {
  color: var(--dark-blue);
  text-decoration: none;
}

.website-link:hover {
  font-size: 1.05rem;
}

.group-member-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

.expand-button {
  text-align: center;
  padding: 0.3rem 0.5rem;
  z-index: 1;
  color: #fff;
  background-color: #777;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.expand-button:hover {
  opacity: 0.9;
  transform: scale(0.98);
}

.expand-active {
  background-color: var(--dark-blue);
}

.expand-area {
  font-size: 0.9rem;
  overflow: hidden;
  text-align: left;
  max-width: 400px;
  padding: 1rem 0;
}

table .cv-table {
  width: 100%;
}

table.cv-table td {
  vertical-align: top;
  padding: 0;
  text-align: left;
  padding-bottom: 10px;
}

table.cv-table td > p {
  margin: 0;
  color: var(--dark-blue);
}

table.cv-table td.year {
  padding-right: 1rem;
  text-align: right;
  font-size: 0.9rem;
  width: 8rem;
}

@media (max-width: 980px) {
  .group-member-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "photo contact"
      "expand expand";
    row-gap: 0;
  }

  .expand {
    grid-area: expand;
    justify-self: center;
  }

  .expand-area {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .group-member-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-top: var(--green) 1px solid;
  }

  .contact {
    text-align: center;
  }

  .social {
    justify-content: center;
  }

  .group-member-buttons {
    margin-top: 0;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .expand-area {
    width: 300px;
  }
}
