/* publication styling */

sup {
  margin-left: -0.5rem;
  margin-right: 0.2rem;
}

sub {
  margin-left: -0.2rem;
}

#google-scholar {
  text-align: center;
}

.publication-year {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.publication-year > h1 {
  margin: 1rem;
  padding-top: 1rem;
  line-height: 1.3;
  text-align: left;
  font-weight: bold;
  border-top: var(--green) 1px solid;
  color: var(--green);
  font-size: 1.5rem;
}

.publication-year .publication-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1rem;
  padding: 1.5rem;
  gap: 1.5rem;
  background-color: var(--light-green);
  border-radius: 10px;
  border: solid var(--green) 2px;
}

.publication-preview {
  width: 250px;
  min-height: 150px;
  align-self: center;
  justify-self: center;
  background-color: #fff;
  border: var(--dark-blue) 1px groove;
}

.publication-preview > img {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  padding: 5px;
  transition: all 0.4s easy;
  border: 5px;
}

.publication-info {
  text-align: left;
}

.category {
  display: inline-block;
  color: #fff;
  background-color: var(--dark-blue);
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.publication-info > h4 {
  font-size: 1.2rem;
}

.publication-buttons {
  display: flex;
  align-items: flex-start;
  justify-items: center;
}

.publication-link {
  color: var(--dark-blue);
  text-decoration: none;
  margin: 1rem 0;
  padding: 0.2rem;
}

.publication-link:hover {
  border-bottom: var(--dark-blue) 1px solid;
}

.abstract-button {
  align-items: center;
  padding: 0.2rem 0.5rem;
  color: var(--dark-blue);
}

.abstract-button:hover,
.active {
  color: #fff;
  background-color: var(--dark-blue);
  border-radius: 5px;
}

.abstract-area {
  font-size: 0.9rem;
  overflow: hidden;
}

@media (max-width: 760px) {
  .publication-year .publication-item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
  }
}

@media (max-width: 500px) {
  .publication-info .categories {
    flex-direction: column;
  }
}
